<div class="container">
  <div class="col-7">
    <h4>マイページ</h4>
    <p><strong>登録情報</strong> <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %></p>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-light">氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-light">カナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-light">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-light">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-light">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="col-4">
    <p><strong>配送先</strong> <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></p>

    <p><strong>注文履歴</strong></p>
    </div>
  </div>
</div>