<div class="container">
  <div class="col-7">
    <p class="text-success"><%= flash[:notice] %></p>
    <h4>マイページ</h4>
    <h5><strong>登録情報</strong> <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %></h5>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-light">氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-light">カナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-light">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-light">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-light">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-8">
      <table class="table table-borderless">
        <tr>
          <th>配送先</th>
          <td><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <th>注文履歴</th>
          <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
</div>