<div class="row justify-content-center offset-2">
  <div class="col-3">

    <h2>商品詳細</h2><br>
    <%= image_tag @item.image, size: "200x150" %>
  </div>
  <div class="col-7">
    <table class="table-borderless"><br>
    <br>
    <br>
      <tbody>
        <tr>
          <td>商品名</td>
          <td>　<%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td>　<%= @item.introduction %></td>
        </tr>
        <tr>
          <td>税込価格<br>(税抜価格)</td>
          <td>　<%= (@item.price * 1.1).floor %>(<%= @item.price %>)円</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div>
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>

    </div>
  </div>
</div>