<div class="row offset-1">
  <div class="col-8">
    <p class="text-success"><%= flash[:notice] %></p>
    <h4>配送先登録/一覧</h4>
    <%= form_with model: @address do |f| %>
    <table class="table table-borderless table-sm">
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div><br>
<br>

<div class="row justify-content-left offset-1">
  <div class="col-7">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>郵便番号</td>
          <td>住所</td>
          <td>宛名</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
              <%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>