<div class="container">
  <div class="row">
    <div class="col-8 text-left">
      <div class="col">
        <h4>注文情報入力画面</h4><br>
      </div>
      <h5><strong>支払い方法</strong></h5>
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>

      <div class="col">
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %><br>

        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %>
      </div>

      <div class="col">
        <h5><strong>お届け先</strong></h5>

      </div>

      <div class="col text-center">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>

      <% end %>

    </div>
  </div>
</div>
