<div class="row">
  <h4>注文履歴詳細</h4>
  <div class="col-7">
    <h5><strong>注文情報</strong></h5>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th><br>
          <td>〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>