<div class="container">
  <div class="row offset-2">
    <h4>ログイン</h4>
  </div><br>
  <div class="row offset-2">
  <h5>会員の方はこちらからログイン</h5>
  </div><br>

  <div class="row offset-2 text-center">
    <div class="col-9">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8 lg" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class: "col-8 lg" %></td>
          </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row offset-5 text-center">
        <div class="col-3">
          <%= f.submit "ログイン", class: "btn btn-primary btn btn-block" %>
        </div>
      </div><br>
      <% end %>
  <br>
  <div class="row offset-2">
    <h5>会員登録がお済みでない方</h5>
  </div><br>
  <div class="col text-center">
    <h5><u><%= link_to "こちら", new_customer_registration_path %></u> から新規登録を行って下さい。</h5>
  </div>
</div>
